#copyright{user-select: none;}
/* 9fc5f8 */
#tombol{background-color: #9fc5f8; color: antiquewhite;}
#tombol:hover{background-color: #9900ff}
#tombol2{background-color:red  ; color: antiquewhite;}
#tombol2:hover{background-color:#9fc5f8; }
